<div class="list-item">
    <div class="list-item-name">
        <span><b>{{item.name}}</b></span>
    </div>

    <div class="list-item-info">
        <span>{{item.quantity}}x</span>
        <span>{{item.unitPrice | currency:'EUR'}}</span>

        <div class="list-item__actions">
            <button class="btn btn-small btn-edit" (click)="edit(item)">
                edit
            </button>
            <button class="btn btn-small btn-delete" (click)="delete(item.id!)">
                delete {{''}}
            </button>
        </div>
    </div>
</div>